<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_catalog_product_view">
        <observer name="madeiranit_redirect_simple_products_observer_predispatch" instance="Madeiranit\RedirectSimpleProducts\Observer\Predispatch"/>
    </event>
</config>
